<div class="container">
    <h1 class="text-center m-4">Frequently Asked Question!!!</h1>
</div>

<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

    
    <div class="card">
  
     
      <div class="card-header" role="tab" id="headingOne1">
        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
          aria-controls="collapseOne1">
          <h5 class="mb-0">
           how to Make Your Own Dalgona Coffee at Home!<i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
     
      <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
        data-parent="#accordionEx">
        <div class="card-body">
            How to Make Your Own Dalgona Coffee While Staying at Home Stuck at home but still need your daily coffee
        </div>
      </div>
  
    </div>
   
  
   
    <div class="card">
  
     
      <div class="card-header" role="tab" id="headingTwo2">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
          aria-expanded="false" aria-controls="collapseTwo2">
          <h5 class="mb-0">
            5 Differences between Arabica and Robusta Coffee Beans <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
      
      <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
        data-parent="#accordionEx">
        <div class="card-body">
            From the familiar charm of the streetside kaapi bar to the third wave scene in New Delhi’s trendiest quarters, Indian 
        </div>
      </div>
  
    </div>
   
   <div class="card">
  
      
      <div class="card-header" role="tab" id="headingThree3">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
          aria-expanded="false" aria-controls="collapseThree3">
          <h5 class="mb-0">
            COFFEE VARIETIES IN INDIA <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
  
     
      <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
        data-parent="#accordionEx">
        <div class="card-body">
            ARABICA COFFEE Arabica coffee (COFFEA ARABICA L) is a small tree in its original habitat but grows like
        </div>
      </div>
  
    </div>
    
  
</div>