<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 col-sm-12" data-aos="fade-left">
            <div class="images">
                <img appCustom src="assets/muffin.jpg"/>
            </div>
            <div class="content">
                <h1>Muffin</h1>
                <p><b>A muffin is an individually portioned baked product, however the term can refer to one of two distinct items</b></p>
                <p>price  {{150|currency:'INR'}}</p>
                <button class="btn btn-danger">Buy now</button>
            </div>
        </div>

        <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-delay="150">
            <div class="images">
                <img appCustom src="assets/fruitcake.jpg"/>
            </div>

            <div class="content">
                <h1>Fruit Cake</h1>
                <p><b>For the times when your celebration needs a refreshing kick-start, this fruit pastries is here to load your occasion with bliss.</b></p>
                <p>price  {{420|currency:'INR'}}</p>
                <button class="btn btn-danger">Buy now</button>
            </div>
        </div>

    </div>
</div>

    <div class="container" style="margin-top: 50px;">

    <div class="row">
        <div class="col-md-6 col-sm-12" data-aos="fade-left" data-aos-delay="250">
            <div class="images">
                <img appCustom src="assets/blackcoffee.jpg"/>
            </div>
            <div class="content">
                <h1>Black Coffee</h1>
                <p><b>Black coffee is as simple as it gets with ground coffee beans steeped in hot water, served warm.</b></p>
                <p>price  {{80|currency:'INR'}}</p>
                <button class="btn btn-danger">Buy now</button>
            </div>
        </div>

        <div class="col-md-6 col-sm-12" data-aos="fade-left"data-aos-delay="400">
            <div class="images">
                <img appCustom src="assets/Garlic bread.jpg"/>
            </div>

            <div class="content">
                <h1>Garlic Bread</h1>
                <p><b>Garlic bread (also called garlic toast) consists of bread topped with garlic and olive oil or butter and baked.</b></p>
                <p>price  {{170|currency:'INR'}}</p>
                <button class="btn btn-danger">Buy now</button>
            </div>
        </div>

    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/Cappuccino.jpg" width="300" height="230" style="border-radius: 10px;"/>
            <h3>Cappuccino</h3>
            <p>A cappuccino is an espresso-based coffee drink that originated in Austria with later development taking place in Italy, and is prepared with steamed milk foam.</p>
            <p> <button class="btn btn-danger">Buy now</button> price  {{80|currency:'INR'}}</p>
            
        </div>

        <div class="col-md-4 col-sm-12" data-aos="fade-left" data-aos-delay="200">
            <img src="assets/Espresso.jpg" width="300" height="230" style="border-radius: 10px;"/>
            <h3>Espresso</h3>
            <p>Espresso is a coffee-brewing method of Italian origin, in which a small amount of nearly boiling water is forced under 9–10 bars of pressure through finely-ground coffee beans.</p>
            <p> <button class="btn btn-danger">Buy now</button> price  {{120|currency:'INR'}}</p>
            
        </div>

        <div class="col-md-4 col-sm-12" data-aos="fade-left" data-aos-delay="300">
            <img src="assets/latte.jpeg" width="300" height="230" style="border-radius: 10px;"/>
            <h3>Latte</h3>
            <p>What is a latte vs coffee? Latte is a creamier version of coffee. Two-thirds of it is steamed milk, poured over a shot of espresso and topped with a layer of milk foam.</p>
            <p> <button class="btn btn-danger">Buy now</button> price  {{100|currency:'INR'}}</p>
            
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 col-sm-12" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/Cappuccino.jpg" width="300" height="230" style="border-radius: 10px;"/>
            <h3>Cappuccino</h3>
            <p>A cappuccino is an espresso-based coffee drink that originated in Austria with later development taking place in Italy, and is prepared with steamed milk foam.</p>
            <p> <button class="btn btn-danger">Buy now</button> price  {{80|currency:'INR'}}</p>
            
        </div>

        <div class="col-md-4 col-sm-12" data-aos="fade-left" data-aos-delay="200">
            <img src="assets/Espresso.jpg" width="300" height="230" style="border-radius: 10px;"/>
            <h3>Espresso</h3>
            <p>Espresso is a coffee-brewing method of Italian origin, in which a small amount of nearly boiling water is forced under 9–10 bars of pressure through finely-ground coffee beans.</p>
            <p> <button class="btn btn-danger">Buy now</button> price  {{120|currency:'INR'}}</p>
            
        </div>

        <div class="col-md-4 col-sm-12" data-aos="fade-left" data-aos-delay="300">
            <img src="assets/latte.jpeg" width="300" height="230" style="border-radius: 10px;"/>
            <h3>Latte</h3>
            <p>What is a latte vs coffee? Latte is a creamier version of coffee. Two-thirds of it is steamed milk, poured over a shot of espresso and topped with a layer of milk foam.</p>
            <p> <button class="btn btn-danger">Buy now</button> price  {{100|currency:'INR'}}</p>
            
        </div>
    </div>
</div>

<div class="container">
    <p><b>Today's date- </b>{{todayDate|date:'d/M/y'}}</p>
  <p><b>Today's time-</b>{{todayDate|date:'shortTime'}}</p>
</div>
