<div class="container">

    <h2 class="text-center mt-4">Our Latest Blog</h2>
    
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 ">
            <div class="card card-css" style="width: 18rem; ">
                <img class="card-img-top" src="assets/blog1.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Productively Brew-ding</h5>
                  <p class="card-text">“49% of the millennial workforce miss their morning coffee with colleagues during the lockdown”   The survey titled “Productively Brew-ding”, […].</p>
                  <a href="https://indiancoffeeculture.com/2020/04/28/productively-brew-ding/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card card-css" style="width: 18rem;">
                <img class="card-img-top" src="assets/blog2.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Make Your Own Dalgona Coffee at Home!</h5>
                  <p class="card-text">How to Make Your Own Dalgona Coffee While Staying at Home Stuck at home but still need your daily coffee […]</p>
                  <a href="https://indiancoffeeculture.com/2020/04/26/make-your-own-dalgona-coffee-at-home/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card card-css" style="width: 18rem;">
                <img class="card-img-top" src="assets/blog3.jpeg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">A Heart Of Coffee</h5>
                  <p class="card-text">A Heart of Coffee Coffee has been forever been close to my heart. If you ask me, I don’t really […]</p>
                  <a href="https://indiancoffeeculture.com/2020/04/22/a-heart-of-coffee/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>
    </div>

</div>

<div class="container">
    
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 ">
            <div class="card card-css" style="width: 18rem; ">
                <img class="card-img-top" src="assets/blog4.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">COFFEE VARIETIES IN INDIA</h5>
                  <p class="card-text"> ARABICA COFFEE Arabica coffee (COFFEA ARABICA L) is a small tree in its original habitat but grows like a […]</p>
                  <a href="https://indiancoffeeculture.com/2020/04/20/coffee-varieties-in-india/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card card-css" style="width: 18rem;">
                <img class="card-img-top" src="assets/blog5.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Who’s your Daddy?</h5>
                  <p class="card-text">Introduction I know the title sounds a little weird, but I promise you it is related to coffee and is […]</p>
                  <a href="https://indiancoffeeculture.com/2020/04/16/whos-your-daddy/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card card-css" style="width: 18rem;">
                <img class="card-img-top" src="assets/blog6.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">The Impact of the Covid-19 Pandemic on the Coffee Industry of India</h5>
                  <p class="card-text">The spread of the Covid-19 pandemic has impacted a variety of individuals and industries worldwide. But how has it affected […]</p>
                  <a href="https://indiancoffeeculture.com/2020/04/01/the-impact-of-the-covid-19-pandemic-on-the-coffee-industry-of-india/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>
    </div>

</div>

<div class="container">
    
    <div class="row mt-5">
        <div class="col-md-4 col-sm-12 ">
            <div class="card card-css" style="width: 18rem; ">
                <img class="card-img-top" src="assets/blog7.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">5 Differences between Arabica and Robusta Coffee Beans</h5>
                  <p class="card-text"> From the familiar charm of the streetside kaapi bar to the third wave scene in New Delhi’s trendiest quarters, Indian […]</p>
                  <a href="https://indiancoffeeculture.com/2019/08/26/5-differences-between-arabica-and-robusta-coffee-beans/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>

        <div class="col-md-4 col-sm-12">
            <div class="card card-css" style="width: 18rem;">
                <img class="card-img-top" src="assets/blog6.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Pour Over vs Chemex, what’s better for you?</h5>
                  <p class="card-text">Coffee is a palatable beverage that many people long for to kick start every dull morning. It brightens up your […]</p>
                  <a href="https://indiancoffeeculture.com/2019/11/24/pour-over-vs-chemex-whats-better-for-you/" class="btn btn-primary">continue reading...</a>
                </div>
              </div>
        </div>

</div>
